/* GLOBAL STYLES */

body, a {
    font-family: sans-serif;
    color: darkslategray;
}

a:link {
    color: darkslategray;
}
a:hover {
    color: darkslategray !important;
}
a:visited {
    color: darkslategray;
}


/* NAVIGATION STYLES */

#Navigation {
    font-size: large;
    margin-top: 2%;
}

/* LANDING STYLES */

#UnderConstruction {
    max-width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* CONTACT STYLES */