/* GLOBAL STYLES */

body, a {
    font-family: sans-serif;
    color: darkslategray;
}

a:link {
    color: darkslategray;
}
a:hover {
    color: darkslategray !important;
}
a:visited {
    color: darkslategray;
}


/* NAVIGATION STYLES */

#Navigation {
    font-size: large;
    margin-top: 2%;
}

#Footer {
    margin-top: 2%;
}

/* LANDING STYLES */

#UnderConstruction {
    max-width: 30%;
}

/* CONTACT STYLES */